{% load staticfiles %}
<div class="container-fluid h-100" style="padding-top: 30px">
    <div class="row">
        <div class="offset-2 col-8" align="center">
            <h1 class="h1">Экономим деньги</h1>
        </div>
        <div class="offset-2 col-8" align="center">
            <h1 class="h3">Мы предложим самую выгодную цену среди множества магазинов, что сэкономит вам время и ресурсы</h1>
        </div>
        <div onclick="" id="toTop" class="col-12 gobuy" style="background-image: url({% static 'img/PC.png' %});"></div>
    </div>
</div>